* {
    padding: 3px; 
    margin: 3px;
    }   
    .caja {
    margin-left: 10px;
    margin-top: 5px;
    width: 40%;
    height: auto;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    }
    .cajaP{
        border: 1px solid green;
        background-color: rgb(0, 255, 0, 0.1);
    }
    .cajaG{
        border: 1px solid red;
        background-color: rgb(255, 0, 0, 0.1);
    }
    .error, .errorG{
        font-family: 'Arial Narrow';
        font-style: italic;
        color: red;
    }
    .trash{
        font-size: 1.5rem;
        color: cornflowerblue;
    }
    